<div class="d-flex flex-column gap-4 justify-content-center p-4">
    <div class="product-container d-flex flex-column justify-content-start align-items-center gap-3" *ngFor="let product of this.os.cart">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h1 class="d-flex">{{product.name}}</h1>
            <h1 class="d-flex">{{product.price}} €</h1>
        </div>
        <p class="d-flex w-100 m-0">{{product.description}}</p>

        <div class="h-line w-100 bg-secondary"></div>

        <h2 class="d-flex w-100">Ingredienti inclusi</h2>
        <div class="d-flex justify-content-start gap-3 w-100" *ngFor="let ingredient of getIncludedIngredients(product)">
            <h4 class="d-flex">{{ingredient.ingredientName}}</h4>
            <button class="btn btn-primary" [disabled]="ingredient.amount <= 0">
                <fa-icon [icon]="faMinus"></fa-icon>
            </button>
            <h4 class="d-flex">{{ingredient.amount}} di {{ingredient.maxAllowed}}</h4>
            <button class="btn btn-primary" [disabled]="ingredient.amount >= ingredient.maxAllowed">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>

        <div class="h-line w-100 bg-secondary" *ngIf="getNotIncludedIngredients(product).length > 0"></div>

        <h2 class="d-flex w-100" *ngIf="getNotIncludedIngredients(product).length > 0">Ingredienti non inclusi</h2>
        <div class="d-flex justify-content-start gap-3 w-100" *ngFor="let ingredient of getNotIncludedIngredients(product)">
            <h4 class="d-flex">{{ingredient.ingredientName}}</h4>
            <button class="btn btn-primary" [disabled]="ingredient.amount <= 0">
                <fa-icon [icon]="faMinus"></fa-icon>
            </button>
            <h4 class="d-flex">{{ingredient.amount}} di {{ingredient.maxAllowed}}</h4>
            <button class="btn btn-primary" [disabled]="ingredient.amount >= ingredient.maxAllowed">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>

        <div class="h-line w-100 bg-secondary"></div>

        <button class="btn btn-danger d-flex align-self-end">Rimuovi prodotto</button>
    </div>

    <button class="btn btn-primary btn-lg d-flex align-self-center justify-content-center align-items-center w-75">Conferma ordine</button>
</div>