<div class="d-flex flex-column gap-4 justify-content-center p-4">
    <div class="product-container d-flex flex-column justify-content-start align-items-center gap-3 shadow"
        *ngFor="let product of this.os.cart">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h1 class="d-flex">{{product.name}}</h1>
            <h1 class="d-flex">{{product.price}} €</h1>
        </div>
        <p class="d-flex w-100 m-0">{{product.description}}</p>

        <div class="h-line w-100 bg-secondary"></div>

        <h2 class="d-flex w-100">Ingredienti inclusi</h2>
        <div class="d-flex justify-content-between align-items-center gap-3 w-100"
            *ngFor="let ingredient of getIncludedIngredients(product)">
            <h4 class="d-flex overflow-hidden w-25 m-0">{{ingredient.ingredientName}}</h4>

            <p *ngIf="!ingredient.isDeleted" class="d-flex m-0">{{ingredient.ingredientPrice}}€</p>
            <p *ngIf="ingredient.isDeleted" class="d-flex m-0 me-3" style="color: red;font-size: 40px;">non disponibile</p>

            <div class="d-flex justify-content-between align-items-center gap-3" *ngIf="!ingredient.isDeleted">
                <button class="btn btn-primary shadow" [disabled]="ingredient.amount <= 0"
                    (click)="this.os.addPersonalization(product, ingredient, -1)">
                    <i class="fa-solid fa-minus"></i>
                </button>

                <h4 class="d-flex m-0">{{ingredient.amount}} di {{ingredient.maxAllowed}}</h4>

                <button class="btn btn-primary shadow" [disabled]="ingredient.amount >= ingredient.maxAllowed"
                    (click)="this.os.addPersonalization(product, ingredient, 1)">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="h-line w-100 bg-secondary" *ngIf="getNotIncludedIngredients(product).length > 0"></div>

        <h2 class="d-flex w-100" *ngIf="getNotIncludedIngredients(product).length > 0">Ingredienti non inclusi</h2>
        <div class="d-flex justify-content-between align-items-center gap-3 w-100"
            *ngFor="let ingredient of getNotIncludedIngredients(product)">
            <h4 class="d-flex w-25 overflow-hidden m-0">{{ingredient.ingredientName}}</h4>

            <p class="d-flex m-0">{{ingredient.ingredientPrice}} €</p>

            <div class="d-flex justify-content-between align-items-center gap-3">
                <button class="btn btn-primary shadow" [disabled]="ingredient.amount <= 0"
                    (click)="this.os.addPersonalization(product, ingredient, -1)">
                    <i class="fa-solid fa-minus"></i>
                </button>

                <h4 class="d-flex m-0">{{ingredient.amount}} di {{ingredient.maxAllowed}}</h4>

                <button class="btn btn-primary shadow" [disabled]="ingredient.amount >= ingredient.maxAllowed"
                    (click)="this.os.addPersonalization(product, ingredient, 1)">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="h-line w-100 bg-secondary"></div>

        <button class="btn btn-danger d-flex align-self-end shadow" (click)="removeProductFromCart(product)">Rimuovi prodotto</button>
    </div>

    <div class="product-container d-flex flex-column justify-content-start align-items-center gap-3 shadow">
        <div class="d-flex justify-content-between align-items-center w-100 gap-3">
            <h1 class="d-flex m-0">Totale</h1>
            <h1 class="d-flex m-0">{{this.os.getCurrentPrice()}} €</h1>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 gap-3" *ngIf="this.as.isLogged && !this.as.isOperator">
            <p class="d-flex text-muted m-0">Sconto</p>
            <p class="d-flex text-muted m-0">-{{this.os.discountValue * 100}} %</p>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 gap-3" *ngIf="this.as.isLogged && !this.as.isOperator">
            <h1 class="d-flex m-0">Totale da pagare</h1>
            <h1 class="d-flex m-0">{{this.os.getDiscountedPrice()}} €</h1>
        </div>

        <app-order-type></app-order-type>

        <div class="d-flex justify-content-between align-items-center w-100">
            <button class="btn-order btn btn-danger btn-lg d-flex justify-content-center align-items-center shadow"
                (click)="emptyCart()">
                Svuota carrello
            </button>
            <button class="btn-order btn btn-primary btn-lg d-flex justify-content-center align-items-center shadow"
                (click)="doComputeCart()">
                Conferma ordine
            </button>
        </div>
    </div>
</div>