<nav class="navbar bg-info sticky-bottom">
    <div class="container-fluid d-flex justify-content-between align-content-center px-3 gap-3">
        <div class="h-line bg-secondary"></div>
        <div class="d-flex justify-content-between align-content-center gap-3">
            <a class="link-primary" href="#"><i class="fa fa-brands fa-instagram"></i></a>
            <a class="link-primary" href="#"><i class="fa fa-brands fa-facebook-f"></i></a>
            <a class="link-primary" href="#"><i class="fa fa-brands fa-twitter"></i></a>
            <a class="link-primary" href="#"><i class="fa fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="h-line bg-secondary"></div>
    </div>
</nav>