<div class="container">
    <div class="d-flex flex-column justify-content-start align-items-center gap-2 mb-3">
        <div class="d-flex flex-row justify-content-start align-items-center gap-4 w-100">
            <h1 class="d-flex m-0">Gestione ordini</h1>
            <div class="form-check form-switch d-flex flex-row justify-content-center align-items-center gap-2">
                <input class="form-check-input d-flex" type="checkbox" role="switch" [(ngModel)]="this.os.showNotExec" (change)="this.os.setFilteredList()">
                <label class="form-check-label d-flex">Mostra non eseguiti</label>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center gap-4 w-100">
            <input class="form-control d-flex" type="date" [(ngModel)]="this.os.dates.startDate">
            <input class="form-control d-flex" type="date" [(ngModel)]="this.os.dates.endDate">
            <button class="btn btn-primary btn-lg d-flex" (click)="doHistory()">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </button>
        </div>
    </div>
    
    <app-order-accordion></app-order-accordion>
</div>