<nav class="navbar bg-primary sticky-top">
    <div class="container-fluid d-flex justify-content-between align-content-center px-4">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/assets/img/poke-bowl.png" class="d-inline-block align-text-top header-img me-2">
            Poke management
        </a>
        Login
    </div>
</nav>

<div class="vh-100">
    <p>Prova</p>
    <p class="lead">
        This is a lead paragraph. It stands out from regular paragraphs.
      </p>
      <blockquote class="blockquote">
        <p>A well-known quote, contained in a blockquote element.</p>
      </blockquote>
</div>