$primary: #588B8B;
$secondary: #FFD5C2;
$info: #fefafa;

.container-login {
    min-height: 100%;
    font-size: 2.5rem;
}

.container-login-body {
    min-height: 80%;
    min-width: 100%;
    padding: 5% 10% 5% 10%;
}

.login-field {
    width: 100%;
    min-height: 15%;
    font-size: inherit;
}

.login-label {
    display: flex;
    flex-grow: 0.5;
}

.login-input {
    flex-grow: 1;
    font-size: inherit !important;
    border: 0.2rem solid $primary;
}

.login-btn {
    font-size: inherit !important;
}

.login-title {
    text-align: center;
}