<div ngbAccordion [closeOthers]="true" *ngIf="products.length >= 1">
    <h2>{{products[1].productType.description}}</h2>
    @for (item of products; track item) {
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button (click)="getToEditProduct(item)" ngbAccordionButton>Id: {{item.productId}} {{ item.name }}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <label for="product-price">Prezzo</label>
                    <input name="product-price" type="number" [(ngModel)]="toEdit.price">
                    <br>
                    <label for="product-description">Descrizione</label>
                    <textarea name="product-description" class="form-control" aria-label="With textarea"
                        [(ngModel)]="toEdit.description"></textarea>
                    <h3>ingredienti:</h3>
                    <div class="card product-ingredients-card d-flex flex-row justify-content-between align-items-center p-3"
                        *ngFor="let ingredient of toEdit.productIngredients">
                        <span>
                            {{ingredient.ingredientName}}
                        </span>
                        <i class="fa-solid fa-trash fa-xl" style="color: #e01010;"></i>
                    </div>
                    <br><br>
                    <app-modal-confirm></app-modal-confirm>
                </ng-template>
            </div>
        </div>
    </div>
    }
</div>