// $primary: #fefafa;
// $secondary: #FFD5C2;
// $info: #588B8B;

$primary: #588B8B;
$secondary: #FFD5C2;
$info: #fefafa;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "info": $info
);

html {
    font-size: 2rem !important;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: $primary;
}

app-root {
    display: inherit;
    flex-direction: column;
    min-height: inherit;
    width: inherit;
    margin: inherit;
    padding: inherit;
}

app-home {
    display: block;
    height: calc(100% - 12rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

app-header {
    position: sticky;
    top: 0;
    z-index: 1020;
}

app-footer {
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

.container-login {
    height: calc(100vh - 12rem);
    font-size: 2.5rem;
}

.container-login-body {
    min-height: 80%;
    min-width: 90%;
    padding: 5% 10% 5% 10%;
}

.login-field {
    width: 100%;
    min-height: 15%;
    font-size: inherit;
}

.login-label {
    display: flex;
    flex-grow: 0.5;
}

.login-input {
    flex-grow: 1;
    font-size: inherit !important;
}

.login-btn {
    font-size: inherit !important;
}

.login-title {
    text-align: center;
}

.category-img {
    //max-height: 350px;
    aspect-ratio: 3/1;
    width: 100%;
}

.product-img {
    aspect-ratio: 1/1;
    width: 100%;
    border-bottom: 0.2rem solid $primary !important;
}

.product-card {
    border: 0.2rem solid $primary !important;
}

app-product-card {
    width: 28%;
}

.product-card-title {
    overflow: hidden;
    text-wrap: nowrap;
}

.category-desc {
    position: absolute;
    background-color: $secondary;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 6rem;
}

.h-line {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    height: 0.2rem;
    width: auto;
    background-color: rgba(64, 64, 64, 0.6);
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
